<script>
	import {
		Header,
		HeaderNav,
		HeaderNavItem,
		HeaderNavMenu,
		SideNav,
		SideNavItems,
		SideNavMenu,
		SideNavMenuItem,
		SideNavLink,
		SideNavDivider,
		SkipToContent,
		Content,
		Grid,
		Row,
		Column
	} from 'carbon-components-svelte';
	import { t, switchLanguage } from '/src/stores/i18n';

	import logoURL from '$lib/assets/logo.jpg';

	let isSideNavOpen = false;
</script>

<Header company="" platformName="Carbon Svelte" bind:isSideNavOpen>
	<div slot="skip-to-content">
		<SkipToContent />
	</div>

	<div slot="platform">
		<img alt="Brand logo" class="logo" src={logoURL} />
	</div>

	<HeaderNav>
		<HeaderNavItem href="/" text={$t('nav.about_me')} />
		<HeaderNavItem href="/" text={$t('nav.yoga')} />
		<HeaderNavItem href="/" text={$t('nav.services')} />
		<HeaderNavItem href="/" text={$t('nav.blog')} />
	</HeaderNav>
</Header>

<SideNav bind:isOpen={isSideNavOpen}>
	<SideNavItems>
		<SideNavLink text={$t('nav.about_me')} />
		<SideNavLink text={$t('nav.yoga')} />
		<SideNavLink text={$t('nav.services')} />
		<SideNavLink text={$t('nav.blog')} />
	</SideNavItems>
</SideNav>

<Content>
	<Grid>
		<Row>
			<Column>
				<slot />
			</Column>
		</Row>
	</Grid>
</Content>

<style lang="scss">
	.logo {
		height: var(--header-height);
	}
</style>
