<script>
    import "carbon-components-svelte/css/white.css";
    import {t, switchLanguage} from '/src/stores/i18n'
</script>


<h1>Welcome to {$t('nav.about_me')}</h1>
<h1>Welcome to {$t('nav.yoga')}</h1>
<h1>Welcome to {$t('nav.blog')}</h1>
<button on:click={()=>switchLanguage('en')}>EN</button>
<button on:click={()=>switchLanguage('fr')}>FR</button>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
