:root {
    --header-height: 8rem;
    --header-background-color: white;
}

.bx--header {
    height: var(--header-height);
    background-color: var(--header-background-color);
}
.bx--header ~ .bx--side-nav{
    top: var(--header-height);
}